<!--
		<form action='/new_quote' id='quoteform' name='quoteform' method="post">
		   <input type="text" name="nb_floors" value="" class="form-control required">
		   <button type="submit">GO</button>
		</form>

		-->
    <form action='/new_quote' id='quoteform' name='quoteform' method="post">
		<!-- Modal Header -->
		<div class="modal-header">
			<h4 class="modal-title">Elevator selection</h4>
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<fieldset>
		<!-- Modal body -->
		<div class="modal-body">											
				<!-- Contact name -->
				<div class="row">
					<div class="col-sm-12 col-lg-6">
						<label>First Name *</label>
						<input type="text" name="contact_first_name" value="" class="form-control required">
					</div>
					<div class="col-sm-12 col-lg-6">
						<label>Last Name *</label>
						<input type="text" name="contact_last_name" value="" class="form-control required">
					</div>
				</div>
				<!-- Project information-->
				<div class="row modal_section">
					<div class="col-sm-12 col-md-6">
						<label>Project name</label>
						<input type="text" name="project_name" value="" class="form-control required">
					</div>
					<div class="col-sm-12 col-md-6">
						<label>Location</label>
						<input type="text" name="project_location" value="" class="form-control">
					</div>
				</div>

				<hr class="m-0" />

				<div class="row modal_section">
					<div class="col-md-12 col-sm-12">
						<label>Project type</label>
						<div>
							<div>
								<input type='hidden' name='project_type_temp' value="residential"> 
							</div>
							<div class="form-check-inline">
								<label class="form-check-label">								
									<input type="radio" name="Project_Type" VALUE="residential" onClick="show_form_section('residential_section','commercial_section','corpo_section','hybrid_section'); document.quoteform.project_type_temp.value=this.value;"  class="form-check-input required radio_size "> Residential
								</label>
							</div>
							<div class="form-check-inline">
								<label class="form-check-label">								
									<input type="radio" name="Project_Type" VALUE="commercial"  onClick="show_form_section('commercial_section','residential_section','corpo_section','hybrid_section'); document.quoteform.project_type_temp.value=this.value;"  class="form-check-input required radio_size "> Commercial
								</label>
							</div>
							<div class="form-check-inline">
								<label class="form-check-label">								
									<input type="radio" name="Project_Type" VALUE="corpo"  onClick="show_form_section('corpo_section','residential_section','commercial_section','hybrid_section'); document.quoteform.project_type_temp.value=this.value;"  class="form-check-input required radio_size "> Corporative
								</label>
							</div>
							<div class="form-check-inline">
								<label class="form-check-label">								
									<input type="radio" name="Project_Type" VALUE="hybrid"  onClick="show_form_section('hybrid_section','residential_section','commercial_section','corpo_section'); document.quoteform.project_type_temp.value=this.value;"  class="form-check-input required radio_size "> Hybrid
								</label>
							</div>
							<!-- <input type="button" onclick='checkformvalue();'> -->
							<!-- <input type="button" onclick='checkformvalue();'> -->
							<div id="residential_section">
								<br>
								<div class="row">
									<div class="col-sm-12 col-md-4">
										<label>Number of apartment unit *</label>
										<input type="text" name="nb_of_units" id="res_nbapartment" value="" class="form-control required" onchange="checkformvalue();">
									</div>
									<div class="col-sm-12 col-md-4">
										<label>Number of floors *</label>
										<input type="text" name="nb_of_floors" id="res_floors" value="" class="form-control required" onchange="checkformvalue();">
									</div>
									<div class="col-sm-12 col-md-4">
										<label>Number of basement</label>
										<input type="text" name="nb_of_basements" id="res_basement" value="" class="form-control" onchange="checkformvalue();">
									</div>
								</div>	
							</div>

							<div id="commercial_section" class="hide">
								<br>
								<div class="row">
									<div class="col-sm-12 col-md-4">
										<label>Number of distint stores</label>
										<input type="text" name="nb_of_units" id="com_nbbusiness" value="" class="form-control " onchange="checkformvalue();">
									</div>
									<div class="col-sm-12 col-md-4">
										<label>Number of floors</label>
										<input type="text" name="nb_of_floors" id="com_floors" value="" class="form-control " onchange="checkformvalue();">
									</div>
									<div class="col-sm-12 col-md-4">
										<label>Number of basement</label>
										<input type="text" name="nb_of_basements" id="com_basement" value="" class="form-control " onchange="checkformvalue();">
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-12 col-md-4">
										<label>Number parking spaces</label>
										<input type="text" name="nb_of_parkings" id="com_nbparking" value="" class="form-control " onchange="checkformvalue();">
									</div>
									<div class="col-sm-12 col-md-4">
										<label>Number of elevator shaft required *</label>
										<input type="text" name="nb_of_elevators" id="com_nbshaft" value="" class="form-control required" onchange="checkformvalue();">
									</div>
									<div class="col-sm-12 col-md-4">
										
									</div>
								</div>
							</div>

							<div id="corpo_section" class="hide">
								<br>
								<div class="row">
									<div class="col-sm-12 col-md-4">
										<label>Number of distint businesses *</label>
										<input type="text" name="nb_of_units" id="corp_nbbusiness" value="" class="form-control required" onchange="checkformvalue();">
									</div>
									<div class="col-sm-12 col-md-4">
										<label>Number of floors *</label>
										<input type="text" name="nb_of_floors" id="corp_floors" value="" class="form-control required" onchange="checkformvalue();">
									</div>
									<div class="col-sm-12 col-md-4">
										<label>Number of basement *</label>
										<input type="text" name="nb_of_basements" id="corp_basement" value="" class="form-control required" onchange="checkformvalue();">
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-12 col-md-4">
										<label>Number parking spaces</label>
										<input type="text" name="nb_of_parkings" id="corp_nbparking" value="" class="form-control" onchange="checkformvalue();">
									</div>
									<div class="col-sm-12 col-md-4">
										<label>Number of peoples per floor *</label>
										<input type="text" name="max_occupants" id="corp_pplefloors" value="" class="form-control required" onchange="checkformvalue();">
									</div>
									<div class="col-sm-12 col-md-4">
										
									</div>
								</div>
							</div>

							<div id="hybrid_section" class="hide">
								<br>
								<div class="row">
									<div class="col-sm-12 col-md-4">
										<label>Number of distint businesses *</label>
										<input type="text" name="nb_of_units" id="hybrid_nbbusiness" value="" class="form-control required" onchange="checkformvalue();">
									</div>
									<div class="col-sm-12 col-md-4">
										<label>Number of floors *</label>
										<input type="text" name="nb_of_floors" id="hybrid_floors" value="" class="form-control required" onchange="checkformvalue();">
									</div>
									<div class="col-sm-12 col-md-4">
										<label>Number of basement *</label>
										<input type="text" name="nb_of_basements" id="hybrid_basement" value="" class="form-control required" onchange="checkformvalue();">
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-12 col-md-4">
										<label>Number parking spaces </label>
										<input type="text" name="nb_of_parkings" id="hybrid_nbparking" value="" class="form-control" onchange="checkformvalue();">
									</div>
									<div class="col-sm-12 col-md-4">
										<label>Number of peoples per floor *</label>
										<input type="text" name="max_occupants" id="hybrid_pplefloors" value="" class="form-control required" onchange="checkformvalue();">
									</div>
									<div class="col-sm-12 col-md-4">
										<label>Hours of activity per day *</label>
										<input type="number" name="business_hours" id="hybrid_hrsactivity" value="" min="1" max="24" class="form-control required" onchange="checkformvalue();">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<hr class="m-0" />								
				<div class="row modal_section">
					<br>
					<div class="col-sm-12">
						<div class="row">
							<div class="col-md">
								<label>Recommended number </label>
								<br class="d-md-none">
								<label>of elevator : </label>
								<label id="result_nbshaft"></label>
							</div>										
						</div>
					</div>
					<br>
					<div class="col-md">
						<div class="row modal_section">
							<div class="col-md">
								<label>Product range</label>
								<div>
									<input type='hidden' name='product_type_temp' value="standard">
									<div class="form-check-inline">
										<label class="form-check-label">								
											<input type="radio" name="product_type" VALUE="standard" onClick="document.quoteform.project_type_temp.value=this.value;" onchange="checkformvalue();" class="form-check-input required radio_size "> Standard
										</label>
									</div>
									<div class="form-check-inline">
										<label class="form-check-label">								
											<input type="radio" name="product_type" VALUE="premium"  onClick="document.quoteform.project_type_temp.value=this.value;" onchange="checkformvalue();" class="form-check-input required radio_size "> Premium
										</label>
									</div>
									<div class="form-check-inline">
										<label class="form-check-label">								
											<input type="radio" name="product_type" VALUE="excelium"  onClick="document.quoteform.project_type_temp.value=this.value;" onchange="checkformvalue();" class="form-check-input required radio_size "> Excelium
										</label>
									</div>
									
								</div>
							</div>										
						</div>
						<hr class="m-0" />	
						<div class="row modal_section">
							<div class="col-md">
								<label>Estimated price</label>
								<br/>
								<label>Units cost : </label>
								<label id="result_unitcost"></label>
								<label>$</label>
								<br/>
								<label>Installation cost : </label>
								<label id="result_installcost"></label>
								<label>$</label>
								<br/>
								<label>Total cost : </label>
								<label id="result_totalcost"></label>
								<label>$</label>
							</div>
						</div>
					</div>	
				</div>											
			</div>										
		</fieldset>
		<!-- Modal footer -->
		<div class="modal-footer">											
			<div class="container">												
				<div class="row text-center">
					<div class="col-md">
						<div class="text-center">
							<!-- To Do -->
							<!-- <button type="button" class="btn btn-sm btn-secondary bouton_modal d-md-none" >Submit</button>
							<button type="button" class="btn btn-secondary bouton_modal d-none d-md-block" >Submit</button> -->
							<button type="submit" class="btn btn-secondary bouton_modal" >Submit</button>
						</div>
					</div>
					<div class="col-md d-md-none">
						<!--<button type="submit" value="calculate" class="btn btn-secondary bouton_modal" >Submit</button>-->
						<!--<input type="submit" value="calculate" > -->
					</div>
					<div class="col-md">
						<div class="text-center">
							<!-- <button type="button" class="btn btn-sm btn-secondary bouton_modal d-md-none" data-dismiss="modal"> Close </button>
							<button type="button" class="btn btn-secondary bouton_modal d-none d-md-block" data-dismiss="modal"> Close </button> -->
							<button type="button" class="btn btn-secondary bouton_modal" data-dismiss="modal"> Close </button>
						</div>
					</div>
				</div>								
			</div>
		</div>
	</form>