

	<!-- SLIDE TOP -->
	<div id="slidetop">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h6><i class="icon-heart"></i> WHY ROCKET ELEVATORS?</h6>
					<p>Rocket Elevators is the best of the best at getting you stuck in a metal coffin.</p>
				</div>
				<div class="col-md-4">

				</div>
				<div class="col-md-4">
					<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
					<ul class="list-unstyled">
						<li><b>Address:</b> 725 Boulevard Lebourgneuf,Suite 218 <br /> Québec, G2J 0C4 Canada</li>
						<li><b>Phone:</b> 1-418-580-7055</li>
						<!-- To Do -->
						<li><b>Email:</b>info@rocketelevators.com</a></li>
					</ul>
				</div>
			</div>
		</div>
		<a class="slidetop-toggle" href="#top">
			<!-- toggle button -->
		</a>
	</div>
	<!-- /SLIDE TOP -->

	<!-- wrapper -->
	<div id="wrapper">
		<div id="header" class="navbar-toggleable-md sticky clearfix">
			<!-- TOP NAV -->
			<header id="topNav">
				<div class="container">
					<!-- Mobile Menu Button -->
					<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="fa fa-bars"></i>
					</button>
					<!-- Logo -->
					<a class="logo float-left" href="index.html">
						<%= image_tag("_rocketelevators/R2.png") %>
						<!--<img src="assets/images/_rocketelevators/R2.png" alt="" />-->
					</a>
					<!-- 
							Top Nav 
						-->
					<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
						<nav class="nav-main">
							<ul id="topMain" class="nav nav-pills nav-main">
								<li class="active">
									<!-- HOME -->
									<a href="index.html">
										HOME
									</a>
								</li>
								<li>
									<!-- SERVICES -->
									<a href="index.html#services">
										SERVICES
									</a>
								</li>
								<!-- PARALLAX -->
								<li style="display: none; ">
									<a href="index.html#parallaxbar">

									</a>
								</li>
								<li>
									<!-- WORK -->
									<a href="index.html#work">
										PORTFOLIO
									</a>
								</li>
								<li>
									<!-- NEWS -->
									<a href="index.html#news">
										NEWS
									</a>
								</li>
								<li>
									<!-- CLIENTS -->
									<a href="index.html#clients">
										CLIENTS
									</a>
								</li>
								<li>
									<!-- CONTACT -->
									<a href="index.html#contact">
										CONTACT
									</a>
								</li>
								<li><!-- CONTACT -->
									<a href="/admin">
										ADMIN
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
			<!-- /Top Nav -->
		</div>


		<!-- PAGE HEADER -->
		<section class="page-header page-header-xs dark">
			<div class="container">
				<h1>COMMERCIAL SERVICES</h1>
				<!-- breadcrumbs -->
				<ol class="breadcrumb">
					<li class="active"><a class="scrollTo" href="#models">Products</a></li>
					<li><a class="scrollTo" href="#clientinfo">Client info</a></li>
					<li><a class="scrollTo" href="#sales">Sales</a></li>
				</ol><!-- /breadcrumbs -->
			</div>
		</section>
		<!-- /PAGE HEADER -->

		<!-- -->
		<section Id="models">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<figure class="mb-20">
							<%= image_tag("_rocketelevators/AdobeStock_33975620600x300.jpg", :class => "img-fluid", alt: "service") %>
							<!--<img class="img-fluid" src="assets/images/_rocketelevators/AdobeStock_33975620600x300.jpg" alt="service" />-->
						</figure>
						<h4 class="mb-0">ENTRY LEVEL ELEVATOR</h4>
						<small class="font-lato fs-18 mb-30 block">Will get you to the right floor in no time</small>
						<p class="text-muted fs-14">Those budget frendly elevators will get where you want, when you want it in no time
							and
							without any question.</p>
						<a>
							Read
							<!-- /word rotator -->
							<span class="word-rotator" data-delay="2000">
								<span class="items">
									<span>more</span>
									<span>now</span>
								</span>
							</span><!-- /word rotator -->
							<i class="glyphicon glyphicon-menu-right fs-12"></i>
						</a>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4">
						<figure class="mb-20">
							<%= image_tag("_rocketelevators/AdobeStock_53477661600x300.jpg", :class => "img-fluid", alt: "service") %>
							<!--<img class="img-fluid" src="assets/images/_rocketelevators/AdobeStock_53477661600x300.jpg" alt="service" />-->
						</figure>
						<h4 class="mb-0">MID LEVEL ELEVATOR</h4>
						<small class="font-lato fs-18 mb-30 block">Will get you to the right floor in no time</small>
						<p class="text-muted fs-14">Those budget frendly elevators will get where you want, when you want it in no time
							and
							without any question.</p>
						<a>
							Read
							<!-- /word rotator -->
							<span class="word-rotator" data-delay="2000">
								<span class="items">
									<span>more</span>
									<span>now</span>
								</span>
							</span><!-- /word rotator -->
							<i class="glyphicon glyphicon-menu-right fs-12"></i>
						</a>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4">
						<figure class="mb-20">
							<%= image_tag("_rocketelevators/AdobeStock_66781279600x300.jpg", :class => "img-fluid", alt: "service") %>
							<!--<img class="img-fluid" src="assets/images/_rocketelevators/AdobeStock_66781279600x300.jpg" alt="service" />-->
						</figure>
						<h4 class="mb-0">HIGH END ELEVATOR </h4>
						<small class="font-lato fs-18 mb-30 block">Will get you to the right floor in no time</small>
						<p class="text-muted fs-14">Those budget frendly elevators will get where you want, when you want it in no time
							and
							without any question.</p>
						<a>
							Read
							<!-- /word rotator -->
							<span class="word-rotator" data-delay="2000">
								<span class="items">
									<span>more</span>
									<span>now</span>
								</span>
							</span><!-- /word rotator -->
							<i class="glyphicon glyphicon-menu-right fs-12"></i>
						</a>
					</div>
				</div>
			</div>
		</section>
		<!-- / -->

		<!-- -->
		<section id="clientinfo">
			<div class="container ">
				<header class="text-center">
					<h2 class="m-0">Process to get our elevators</h2>
					<p class="font-lato fs-20 m-0">How we get to the top</p>
				</header>
				<div class="divider divider-center">
					<!-- divider -->
					<i class="fa fa-chevron-down"></i>
				</div>
				<ul class="process-steps nav nav-tabs nav-justified mt-100">
					<li class="nav-item">
						<a class="nav-link active" href="#step1" data-toggle="tab">1</a>
						<h5>Marketing</h5>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#step2" data-toggle="tab">2</a>
						<h5>Sales</h5>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#step3" data-toggle="tab">3</a>
						<h5>Fabrication</h5>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#step4" data-toggle="tab">4</a>
						<h5>Installation</h5>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#step5" data-toggle="tab">5</a>
						<h5>Enjoy</h5>
					</li>
				</ul>

				<div class="tab-content mt-30">
					<div class="tab-pane active" id="step1">
						<strong>Marketing</strong> This is some text filling I made up to save time and don't loose point when Nicolas's
						moulinette
						will get through my page. I hope it won't be a problem.
					</div>
					<div class="tab-pane" id="step2">
						<strong>Sales</strong> This is some text filling I made up to save time and don't loose point when Nicolas's
						moulinette
						will get through my page. I hope it won't be a problem.
					</div>
					<div class="tab-pane" id="step3">
						<strong>Fabrication</strong> This is some text filling I made up to save time and don't loose point when
						Nicolas's
						moulinette will get through my page. I hope it won't be a problem.
					</div>
					<div class="tab-pane" id="step4">
						<strong>Installation</strong> This is some text filling I made up to save time and don't loose point when
						Nicolas's
						moulinette will get through my page. I hope it won't be a problem.
					</div>
					<div class="tab-pane" id="step5">
						<strong>Enjoy</strong> This is some text filling I made up to save time and don't loose point when Nicolas's
						moulinette
						will get through my page. I hope it won't be a problem.
					</div>
				</div>
			</div>

			<!-- PARALLAX -->
			<div class="parallax-section"></div>
			<section class="parallax parallax-2 " style="background-image: url('/assets/_rocketelevators/AdobeStock_130711085.jpeg');">
				<div class="overlay dark-8">
					<!-- dark overlay [1 to 9 opacity] -->
				</div>
				<div class="container text-center">
					<h2 class="font-raleway mb-10">
						<span class="countTo" data-speed="4000">666</span> clients
					</h2>
					<h3 class="fs-25">They <span>go up</span>. We get <span>bigger</span>!</h3>
				</div>
			</section>
			<!-- /PARALLAX -->
		</div>
	</section>
	<!-- / -->

	<!-- -->
	<section id="sales">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<header class="mb-60">
						<h2 class="m-0">Rocket Elevators market shares</h2>
						<p class="font-lato fs-20 m-0">We are the most seeked elevator company</p>
					</header>
					<p>This is some text filling I made up to save time and don't loose point when Nicolas's moulinette will get
						through
						my page. I hope it won't be a problem.</p>
					<a>
						Read
						<!-- /word rotator -->
						<span class="word-rotator" data-delay="2000">
							<span class="items">
								<span>more</span>
								<span>now</span>
							</span>
						</span><!-- /word rotator -->
						<i class="glyphicon glyphicon-menu-right fs-12"></i>
					</a>
				</div>
				<div class="col-md-6 col-sm-6">
					<canvas class="chartjs" id="polarAreaChartCanvas" width="547" height="300"></canvas>
				</div>
			</div>
		</div>
	</section>
	<!-- / -->

	<!-- -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<header class="mb-60">
						<h2 class="m-0">Elevator model sold</h2>
						<p class="font-lato fs-20 m-0">What type of elevator we are selling</p>
					</header>
					<p>This is some text filling I made up to save time and don't loose point when Nicolas's moulinette will get
						through
						my page. I hope it won't be a problem.</p>
					<a>
						Read
						<!-- /word rotator -->
						<span class="word-rotator" data-delay="2000">
							<span class="items">
								<span>more</span>
								<span>now</span>
							</span>
						</span><!-- /word rotator -->
						<i class="glyphicon glyphicon-menu-right fs-12"></i>
					</a>
				</div>
				<div class="col-md-6 col-sm-6">
					<canvas class="chartjs" id="barChartCanvas" width="547" height="300"></canvas>
				</div>
			</div>
		</div>
	</section>
	<!-- / -->

	<!-- BUTTON CALLOUT -->
	<a href="index_guillaume.html#contact" class="btn btn-xlg btn-primary btn-primary-custom fs-20 fullwidth m-0 rad-0 p-40" >
		<span class="font-lato fs-30">
			Did Rocket elevators convinced you?
			<strong>Contact us &raquo;</strong>
		</span>
	</a>
	<!-- /BUTTON CALLOUT -->

	<!-- FOOTER -->
	<footer id="footer">
		<div class="container">
			<div class="row">
				<!-- col #1 -->
				<div class="col-md-8">
					<h3 class="letter-spacing-1">WHY US?</h3>
					<p>
						Because we are putting you on top of everything.
					</p>
					<h2>1-418-580-7055</h2>
				</div>
				<!-- /col #1 -->

				<!-- col #2 -->
				<div class="col-md-4">
					<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>
					<!-- Newsletter Form -->
					<p>Subscribe to Our Newsletter to get Important News & Offers</p>
					<form data-success="Subscribed! Thank you!"
					 data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
							<span class="input-group-btn">
								<button class="btn btn-success" type="submit">Subscribe</button>
							</span>
						</div>
					</form>
					<!-- /Newsletter Form -->
				</div>
				<!-- /col #2 -->
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<ul class="float-right m-0 list-inline mobile-block">
				</ul>
				&copy; All Rights Reserved, Rocket Elevator
			</div>
		</div>
	</footer>
	<!-- /FOOTER -->


<!-- PAGE LEVEL SCRIPTS [cart js] -->
	<script>
		jQuery(window).on('load', function () {

			/**
				Chart.js
				http://www.chartjs.org/
			**/
			loadScript('/assets/plugins/chart.chartjs/Chart.min.js', function () {

				// polarAreaChartCanvas
				var polarAreaChartCanvas = [
					{
						value: 43,
						color: "#D97041"
					},
					{
						value: 56,
						color: "#C7604C"
					},
					{
						value: 22,
						color: "#21323D"
					},
					{
						value: 77,
						color: "#9D9B7F"
					},
					{
						value: 55,
						color: "#7D4F6D"
					},
					{
						value: 95,
						color: "#584A5E"
					}
				];

				var ctx = document.getElementById("polarAreaChartCanvas").getContext("2d");
				new Chart(ctx).PolarArea(polarAreaChartCanvas);



				// barChartCanvas
				var barChartCanvas = {
					labels: ["January", "February", "March", "April", "May", "June", "July"],
					datasets: [
						{
							fillColor: "rgba(220,220,220,0.5)",
							strokeColor: "rgba(220,220,220,0.8)",
							highlightFill: "rgba(220,220,220,0.75)",
							highlightStroke: "rgba(220,220,220,1)",
							data: [12, 22, 18, 32, 41, 35, 38]
						}
					]
				};

				var ctx = document.getElementById("barChartCanvas").getContext("2d");
				new Chart(ctx).Bar(barChartCanvas);

			});

		});
	</script>