<%# <p id="intervention"><%= notice     </p> %>

<%# <h1>Interventions</h1> %>

<%# <table> %>
  <%# <thead> %>
    <%# <tr> %>
      <%# <th colspan="3"></th> %>
    <%# </tr> %>
  <%# </thead> %>


  <%#= f.submit "Go!" %>

  